modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["sh", "-c", "npm run dev"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["supabase-cli", "ppp", "nano"]

[userenv]

[userenv.shared]
STRIPE_PRICE_ID = "price_1TJcuTJ2w2OK6FGM5sQxfSEz"
STRIPE_SECRET_KEY = "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"
STRIPE_PRICE_ID_MONTHLY = "price_1TJcuTJ2w2OK6FGM5sQxfSEz"
STRIPE_PRICE_ID_ANNUAL = "price_1TJcuaJ2w2OK6FGMeJnJX5QM"
GOOGLE_API_KEY = "AIzaSyAOCSFWg-UUqnQQo6QA8DVC_m_Y3yrBmzg"

[userenv.development]
